.fpc1{
	transform: translate(0,100%);
	opacity: 0;
	transition: 1s transform, 2.5s opacity;
}
.fpc1.show-animation{
	transform: translate(0,0);
	opacity: 1;
}
.fpc2{
	transform: translate(0,150%);
	opacity: 0;
	transition: 1s transform, 3s opacity;
}
.fpc2.show-animation{
	transform: translate(0,0);
	opacity: 1;
}
.fpc3{
	transform: translate(0,200%);
	opacity: 0;
	transition: 1s transform, 3.5s opacity;
	}
.fpc3.show-animation{
	transform: translate(0,0);
	opacity: 1;
	}
.pc2_des{
	transform: translate(0,60%);
	opacity: 0;
	transition: 1s transform, 2s opacity;
	}
.pc2_des.show-animation{
	transform: translate(0,0);
	opacity: 1;
	}
.nozin_img{
	transform: translate(0,10%);
	opacity: 0;
	transition: 1s transform, 2s opacity;
	}
.nozin_img.show-animation{
	transform: translate(0,0);
	opacity: 1;
	}
.nozin_cont{
	transform: translate(0,100%);
	opacity: 0;
	transition: 1.2s transform, 2s opacity;
	}
.nozin_cont.show-animation{
	transform: translate(0,0);
	opacity: 1;
}
.brand_detail{
	transform: translate(0,100%);
	opacity: 0;
	transition: 1s transform, 3s opacity;
	}
	.brand_detail.show-animation{
	transform: translate(0,0);
	opacity: 1;
}
.pc_video video{
	transform: translate(0,10%);
	opacity: 0;
	transition: 1s transform, 2s opacity;
	}
.pc_video video.show-animation{
	transform: translate(0,0);
	opacity: 1;
	} 
/* .changeplz{
	transform: translate(0,10%);
	opacity: 0;
	transition: 1s transform, 2s opacity;
	}
.changeplz.show-animation{
	transform: translate(0,0);
	opacity: 1;
	} */
@media all and (max-width:768px) {
	.fpc1{
		transform: translate(0,0);
		opacity: 1;
		}
	
}
		
